.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    margin-top: 1%;
    margin-bottom: 8%;
}

.placesh1 h1 {
    width: 100%;
    margin-right: 400px;
    text-align: left;
    font-size: 35px;
}

.places article {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    display: inline-block;
    width: 390px;
    height: auto;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
.places h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}
.title_box {
    display: flex;
    justify-content: space-between;
    margin-top: -2%;
}

.title_box h2 {
    text-align: left;
    margin: 25px 3% 40px 2%;
    max-width: 75%;
    word-wrap: break-word;
}
.price_by_night {
    display: flex;
    height: 60px;
    min-width: 60px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    align-items: center;
    padding: 2.3%;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 5%;
}

.information div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 65px;
}

.information .max_guest {
    background: url("../images/icon_group.png") no-repeat top center;
    width: 100px;
}

.information .number_rooms {
    background: url("../images/icon_bed.png") no-repeat top center;
    width: 100px;
}

.information .number_bathrooms {
    background: url("../images/icon_bath.png") no-repeat top center;
    width: 100px;
}

.user {
  margin-bottom: 1.5%;
}

section .loading{
    width: 100%;
    height: 300px;
}

section .loading .loading-spin{
    width: 40px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 50%;
    border: 10px solid #FF5A5F;
    border-bottom-color: transparent;
    animation: rotate 0.8s linear infinite;
}

@keyframes rotate {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

.load-more {
    width: 100%;
}

.load-more button{
    display: block;
    padding: 10px 2rem;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 1.1rem;
    background-color: #FF5A5F;
    color: white;
    cursor: pointer;
}

.reviews {
	margin-top: 40px;
    padding-left: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    gap: 1rem;
    align-items: center;
}

article div.reviews h2 {
    display: inline-block;
	font-size: 16px;
	text-align: left;
    margin: 0;
}

article div.reviews span.toggle-reviews {
    font-size: 10px;
    color: #FAFAFA;
    padding: 6px;
    background-color: #FF5A5F;
    border-radius: 10px;
    cursor: pointer;
}
article div.reviews .toggle-arrow {
    display: inline-block;
    width: 6px;
    aspect-ratio: 1/1;
    border-bottom: 2px solid #FAFAFA;
    border-right: 2px solid #FAFAFA;
    transform: rotate(45deg);
    margin-left: 2px;
    transition: .8s ease-in;
}

article div.reviews ul li {
	list-style: none;
	margin: 10px 0;
}

article div.reviews ul li h3{
	font-size: 14px;
}


article div.reviews ul li p{
	font-size: 12px;
}